.ships__box {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 100px;
}
.shipsList__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.text__color {
    color: aliceblue;
}
.filters__box{
    display: flex;
}